In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [4]:
county_file = "../Data/county_list.csv"

In [5]:
county_df = pd.read_csv(county_file)
county_df.head()

,County Name,FIPS #,County #,Public Health Region (11),Health Service Region (8),Metropolitan Statistical Area (MSA),Metropolitan Divisions (MD),Metro Area (82),NCHS Urban Rural Classification (2006),NCHS Urban Rural Classification (2013),Border 32 (La Paz Agreement),Border 15
0,Anderson,1.0,1.0,4.0,4/5N,--,--,Non-Metro,Micropolitan,Micropolitan,Non-Border,Non-Border
1,Andrews,3.0,2.0,9.0,9/10,--,--,Non-Metro,Micropolitan,Micropolitan,Non-Border,Non-Border
2,Angelina,5.0,3.0,5.0,4/5N,--,--,Non-Metro,Micropolitan,Micropolitan,Non-Border,Non-Border
3,Aransas,7.0,4.0,11.0,11,Corpus Christi,--,Metro,Medium Metro,Medium Metro,Non-Border,Non-Border
4,Archer,9.0,5.0,2.0,2/3,Wichita Falls,--,Metro,Small Metro,Small Metro,Non-Border,Non-Border

In [6]:
cols = [" County Name ", " County # "]
county_clean = county_df[cols]
cols_to_rename = {" County Name ": "county_name", 
                  " County # ": "county_num"}



county_clean = county_clean.rename(columns = cols_to_rename)
county_clean = county_clean.set_index("county_num")
county_clean.head()

           county_name
county_num
1.0          Anderson
2.0           Andrews
3.0          Angelina
4.0           Aransas
5.0            Archer

In [7]:
county_clean.to_csv("../Data/cleaned_county_list.csv", index = True, header = True)